#ifndef SECRET_H
#define SECRET_H

// WiFi Credentials
const char* ssid = "YOUR_WIFI_SSID";
const char* password = "YOUR_WIFI_PASSWORD";

// MQTT Config Credentials
const char* mqtt_server = "broker.hivemq.com";
const int mqtt_port = 1883;
const char* mqtt_user = "";
const char* mqtt_pass = "";

// Device ID
const char* device_id = "00";

// MQTT Topics
const char* mqtt_topic_data = "lamp/00/data";
const char* mqtt_topic_con  = "lamp/00/con";

// OTA Config
const char* ota_server = "otaup.okamna.my.id";

#endif
